body {
    font-family: 'Catamaran', sans-serif;
}

.cocktail-card {
    margin: 0 auto;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #f3f3f3;
    border-radius: 7.5px;
    text-align: center;
    margin-top: 125px;
  }
  
  .cocktail-card:hover {
    box-shadow: 0 0 10px #1e90ff;
  }
  
  .cocktail-card h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;  
}
  
  .cocktail-card img {
    width: 450px;
    height: auto;
    max-height: 450px;
    border-radius: 10px 10px 10px 10px;
  }
  
  .card-info {
    padding: 0 16px;
    text-align: left;
  }
  
  .card-info h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .card-info h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .card-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .card-info ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

form [type="submit"] {
    padding: 10px 20px;
    background-color: #4b4b4b;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

#logo {
    width: 250px;
    height: 100px;
}

.nav-bar {
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

input[type="text"] {
    width: 550px;
    padding: 10px;
    font-size: 11px;
    border-radius: 3px;
    border: 1px solid gray;
    margin-right: 10px;
}

#top-submit {
    padding: 10px 20px;
    background-color: #4b4b4b;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#nav-sections {
    font-family: 'Bebas Neue';
    color:#f3f3f3;
}


footer {
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
  }

#logo2{
    width: 185px;
    height: 75px;
    padding-bottom: 0px;
}

h6{
    margin-top: 0px;
}

*{
    margin: 0%;
}

.nav-bar a {
    text-decoration: none;
  }