form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

form [type="submit"] {
    padding: 10px 20px;
    background-color: #4b4b4b;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
}


#logo {
    width: 250px;
    height: 100px;
}

.nav-bar {
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

input[type="text"] {
    width: 550px;
    padding: 10px;
    font-size: 11px;
    border-radius: 3px;
    border: 1px solid gray;
    margin-right: 10px;
}

#top-submit {
    padding: 10px 20px;
    background-color: #4b4b4b;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#nav-sections {
    font-family: 'Bebas Neue';
    color:#f3f3f3;
}

.not-found-message {
    color: #4b4b4b;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    font-family: 'Bebas Neue';
  }