<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Nunito+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <title>Liquid Library</title>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <a href="/">
                <img src="/static/liquid-library-logo2.png" id="logo">            
            </a>
            <a href="{{ url_for('favorites') }}" id="favorites"><h4>Favorites</h4></a>
            <form action="/" method="get">
                <input type="text" placeholder="Find New Cocktail..." name="search">
                <input type="submit" name="GO" id="top-submit">
            </form>
        </div>
    </nav>

    <div class="cocktail-card">
        <h2>{{ cocktail['strDrink'] }}</h2>
        <img src="{{ cocktail['strDrinkThumb'] }}" alt="Image of {{ cocktail['strDrink'] }}">
        <div class="card-info">
          <h4>Instructions</h4>
            <p>{{ cocktail['strInstructions'] }}</p>
          <h4>Contains Alcohol:</h4><p>{% if cocktail['strAlcoholic'] == 'Alcoholic' %}Yes{% else %}No{% endif %}</p>
          <h4>Ingredients</h4>
          <ul>
            {% for i in range(1, 16) %}
              {% set ingredient = cocktail['strIngredient' + i|string] %}
              {% set measure = cocktail['strMeasure' + i|string] %}
              {% if ingredient %}
                <li>{% if measure and measure != 'None' %}{{ measure }} {% endif %}{{ ingredient }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        
        <div class="button-container">

            <form action="/add_favorite" method="POST">
                <input type="hidden" name="cocktail_id" value="{{ cocktail.id }}">
                <button type="submit">Add to Favorites</button>
            </form>

            <form method="get">
                <button type="submit" name="Random" value="True">Get Random Cocktail</button>
            </form>
        </div>

        </div>
      </div>
</body>
</html>