<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/search.css">
    <link rel="icon" type="image/png" href="/static/liquid-library-logo1.png">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Liquid Library: Your Guide To Happy Hour</title>
</head>
<body> 
    <nav>
        <div class="nav-bar">
          <div class="nav-links">
            <a href="{{ url_for('favorites') }}" id="nav-sections"><h4>My Favorites</h4></a>
            <a href="{{ url_for('logout') }}" id="nav-sections"><h4>Logout</h4></a>
          </div>
        </div>
      </nav>
<img src="/static/liquid-library-logo1.png" class="logo">

<form action="/" method="get">
    <input type="text" placeholder="Search For Over 600+ Cocktails..." name="search">
    <input type="submit" name="GO">
</form>


</body>
</html>